.categories {
    .ant-page-header {
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 13px;
    }
    .ant-btn {
        height: 24px;
        color: #50555c;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .ant-btn:focus {
        color: #1a1919;
        border-color: #1a1919;
    }
    .ant-btn:hover {
        color: #1a1919;
        border-color: #1a1919;
    }
    .ant-btn:active {
        color: #1a1919;
        border-color: #1a1919;
    }
}
